body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.light-mode {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: #121212;
  color: white;
}
.navbar {
  transition: background-color 0.3s ease;
}

.dark-mode .navbar {
  background-color: #333;
  color: white;
}

.light-mode .navbar {
  background-color: #f8f9fa;
  
}
.container {
  padding: 20px;
}
input::placeholder {
  color: black; 
}

input.bg-dark::placeholder {
  color: white; 
}
