body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}.task-row {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.task-row .task-completed {
  text-decoration: line-through;
  color: #888;
}

.task-row .task-row span {
  font-size: 1.2rem;
  font-weight: 500;
}
.task-row {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa; 
}

.task-row .task-completed {
  text-decoration: line-through;
  color: #888;
}

.task-row:hover {
  background-color: #e9ecef; 
}
input::placeholder {
  color: black; 
}
input.bg-dark::placeholder {
  color: white; 
}
